
.task {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 2%;
  position: relative;
}

#delete{
    position: absolute;
    right: 0;
    top: 2px;
    right: 3px;
    font-size: xx-small;
    height: 20px;
    width: 20px;
    
}